<%= render partial: "articles/single_story",
           collection: @stories, as: :story, cached: true,
           locals: { with_comments: true } %>
<% if !@stories.any? && @comments.any? %>
  <%= render "users/comments_section" %>
<% end %>
<% if @stories.size > 1 %>
  <div class="placeholder-div"></div>
<% end %>
<div class="single-article-small-pic" id="article-index-hidden-div" style="display:none"></div>
